CompraTAE-AppService/src/wsdl/68.64.238.118/wsRecarga/wsTae.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tae.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tae.com/" name="wsTae">
<types>
<xsd:schema>
<xsd:import namespace="http://tae.com/" schemaLocation="http://68.64.238.118:80/wsRecarga/wsTae?xsd=1" />
</xsd:schema>
</types>
<message name="consultaCreditoTerminal">
<part name="parameters" element="tns:consultaCreditoTerminal" />
</message>
<message name="consultaCreditoTerminalResponse">
<part name="parameters" element="tns:consultaCreditoTerminalResponse" />
</message>
<message name="consultaCredito">
<part name="parameters" element="tns:consultaCredito" />
</message>
<message name="consultaCreditoResponse">
<part name="parameters" element="tns:consultaCreditoResponse" />
</message>
<message name="consultaRecarga">
<part name="parameters" element="tns:consultaRecarga" />
</message>
<message name="consultaRecargaResponse">
<part name="parameters" element="tns:consultaRecargaResponse" />
</message>
<message name="recargaSaldo">
<part name="parameters" element="tns:recargaSaldo" />
</message>
<message name="recargaSaldoResponse">
<part name="parameters" element="tns:recargaSaldoResponse" />
</message>
<portType name="wsTae">
<operation name="consultaCreditoTerminal">
<input wsam:Action="http://tae.com/wsTae/consultaCreditoTerminalRequest" message="tns:consultaCreditoTerminal" />
<output wsam:Action="http://tae.com/wsTae/consultaCreditoTerminalResponse" message="tns:consultaCreditoTerminalResponse" />
</operation>
<operation name="consultaCredito">
<input wsam:Action="http://tae.com/wsTae/consultaCreditoRequest" message="tns:consultaCredito" />
<output wsam:Action="http://tae.com/wsTae/consultaCreditoResponse" message="tns:consultaCreditoResponse" />
</operation>
<operation name="consultaRecarga">
<input wsam:Action="http://tae.com/wsTae/consultaRecargaRequest" message="tns:consultaRecarga" />
<output wsam:Action="http://tae.com/wsTae/consultaRecargaResponse" message="tns:consultaRecargaResponse" />
</operation>
<operation name="recargaSaldo">
<input wsam:Action="http://tae.com/wsTae/recargaSaldoRequest" message="tns:recargaSaldo" />
<output wsam:Action="http://tae.com/wsTae/recargaSaldoResponse" message="tns:recargaSaldoResponse" />
</operation>
</portType>
<binding name="wsTaePortBinding" type="tns:wsTae">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="consultaCreditoTerminal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultaCredito">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultaRecarga">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="recargaSaldo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="wsTae">
<port name="wsTaePort" binding="tns:wsTaePortBinding">
<soap:address location="http://68.64.238.118:80/wsRecarga/wsTae" />
</port>
</service>
</definitions>